
<h1 class="text-center py-20 dark:text-white text-gray-700 font-bold text-3xl">{{"all products" | translate }}</h1>

  
<div class="w-3/4  mx-auto py-8 grid lg:grid-cols-2 gap-5">

 
    <input  [(ngModel)]="searchInput" [placeholder]="'Search by name' | translate" type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">

    <input  [formControl]="priceInput"  [placeholder]="'Search by price' | translate " type="text"  class="  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">

</div>
<div class="w-10/12 m-auto py-10">



    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">

    


    
    @for (product of allProduct; track $index) {
    
        
  @if (product.title.toLocaleLowerCase().includes(searchInput().toLocaleLowerCase())) {
        <app-card [oneproduct]="product"></app-card>
    
    }
    
}
    
        </div>
    
    </div>

    <div class="flex items-center justify-end p-5">
        <button class="bg-black text-white py-2 px-3 rounded-md" (click)="prevPage()"><i class="fa-solid fa-chevron-left text-2xl"></i></button>
        <p class="px-3 text-2xl bor">{{pageNum}}</p>
        <button class="bg-black text-white py-2 px-3 rounded-md "  (click)="nextPage()"><i class="fa-solid fa-chevron-right text-2xl"></i></button>
    </div>
    
    