
<h1 class="text-center py-20 dark:text-white text-gray-700 font-bold text-3xl">{{"Changepassword" | translate }}</h1>


<div >
  <div class=" grid lg:grid-cols-3  items-center gap-y-8">
    <div > <img src="/images/Secure login-pana.png" alt=""></div>

    <div class="  col-span-2 w-3/4   mx-auto ">

      <form [formGroup]="updatepass" (ngSubmit)="sendUpdatePass()" >
  
  <div   class="mb-6">
      <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"currentPassword" | translate }}</label>
      <div class="relative">
        <input formControlName="currentPassword" id="default-input" [type]="showPassword.current() ? 'text' : 'password'" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"/>
        <button type="button" (click)="togglePassword('current')" class="absolute right-3 top-1/2 transform -translate-y-1/2" >
          <i [class]="showPassword.current() ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      @if ( updatepass.get('currentPassword')?.touched && updatepass.get('currentPassword')?.errors) {
      
          @if(updatepass.get('currentPassword')?.getError('required')){
            <app-alert [alertData]="'  required' | translate  "></app-alert>
               }
          @else if (updatepass.get('currentPassword')?.getError('pattern')) {
            <app-alert [alertData]="'inter valid password inter valid password First letter capital, and from 5 to 9 letters should be small, capital, or numbers.' | translate  "></app-alert>
              }
         
        }
  
  </div>
  
  <div   class="mb-6">
      <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"password" | translate }}</label>
      <div class="relative">
        <input formControlName="password" id="default-input" [type]="showPassword.new() ? 'text' : 'password'" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"/>
        <button type="button" (click)="togglePassword('new')" class="absolute right-3 top-1/2 transform -translate-y-1/2" >
          <i [class]="showPassword.new() ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      @if ( updatepass.get('password')?.touched && updatepass.get('password')?.errors) {
      
          @if(updatepass.get('password')?.getError('required')){
            <app-alert [alertData]="'  required' | translate  "></app-alert>
          
          }
          @else if (updatepass.get('password')?.getError('pattern')) {
            <app-alert [alertData]="'inter valid password inter valid password First letter capital, and from 5 to 9 letters should be small, capital, or numbers.' | translate  "></app-alert>
              }
         
        }
  
  </div>
  
  <div  class="mb-6">
      <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{"repassword" | translate }}</label>
      <div class="relative">
        <input formControlName="rePassword" id="default-input" [type]="showPassword.confirmNew() ? 'text' : 'password'" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"/>
        <button type="button" (click)="togglePassword('confirmNew')" class="absolute right-3 top-1/2 transform -translate-y-1/2" >
          <i [class]="showPassword.confirmNew() ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
  
      @if ( updatepass.get('rePassword')?.touched && updatepass.get('rePassword')?.errors) {
      
          @if(updatepass.get('rePassword')?.getError('required')){
            <app-alert [alertData]="'  required' | translate  "></app-alert>
             
          }
          @else if (updatepass.get('rePassword')?.getError('pattern')) {
            <app-alert [alertData]="'inter valid password inter valid password First letter capital, and from 5 to 9 letters should be small, capital, or numbers.' | translate  "></app-alert>
            }
        }
  
       @if(updatepass.errors && updatepass.get('rePassword')?.touched){
        <app-alert [alertData]="'password and rePassword not matched' | translate  "></app-alert>
      
       }
  
  </div>
  
  
  
  <div class="text-center py-5">
    <button  [disabled]="updatepass.invalid"  class="btnSub disabled:bg-green-950"> {{"send" | translate }}</button>
  </div>
  </form>
  </div>
  </div>
 

</div>
